.main{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 63vh;
}

.side-panel{
    margin: 0px 40px 0px 10px;
}

body{
    margin: 0px;
}

p{
    font-size: 1.2em
}