.doclist{
    list-style-type: none;

}

.doclist li{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px 0px;
}

.doclist a{
    margin-left: 10px;
    text-decoration: none;
    color: black;
    padding: 20px 60px;
    background-color: rgb(249, 249, 249);
    width: 100%;
    transition: 0.2s;
}

.doclist a:hover{
    background-color: rgba(0,11,153,1);
    color: white;
}

.content{
    width: 100%;
    display: flex;
    justify-content: center;
}

.main{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 63vh;
}

.side-panel{
    margin: 0px 40px 0px 10px;
}

body{
    margin: 0px;
}