body{
    margin: 0px;
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 63vh;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form select, form input, textarea{
    width: 14vw;
    padding: 8px 16px;
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box; 
    box-sizing:content-box;
    margin-bottom: 10px;

}


.button{
    align-self: center;
}

h1{
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}


input[type="submit"]{
    display: block;
    color: white;
    background: linear-gradient(90deg, rgba(83,37,116,1) 00%, rgba(9,9,121,1) 50%, rgba(0,11,153,1) 100%);
    border-radius: 30px;
    padding: 10px 20px;
    width: 10vw;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    transition: .5s;
    align-items: center;
}

input[type="submit"]:hover{
    transform: scale(1.1);
}