<div class="footer">
    <div class="footer-menu-wrapper">
        <ul class="footer-menu">
            <h2><a href="company">О нас</a></h2>
            <hr>
            <li><a href="company">О компании</a></li>
            <li><a href="licenses">Лицензии</a></li>
            <li><a href="documents">Документы</a></li>
            <li><a href="requisites">Реквизиты</a></li>
            <li><a href="contacts">Контакты</a></li>
        </ul>
        <ul class="footer-menu">
            <h2><a href="to_condo">Тарифы</a></h2>
            <hr>
            <li><a href="to_condo">В квартиру</a></li>
            <li><a href="to_house">В частный дом</a></li>
            <li><a href="to_office">В офис</a></li>
        </ul>
        <ul class="footer-menu">
            <h2><a href="faq">Информация</a></h2>
            <hr>
            <li><a href="faq">Вопрос-ответ</a></li>
        </ul>
        <ul class="footer-menu">
            <!--TODO: add svg icons-->
            <h2><a href="">Оставайтесь на связи</a></h2>
            <hr>
            <h3>+7 (495) 108-12-43</h3>
            <h3>г. Балашиха, ул. Советская, д. 44А</h3>
            <h3>info@10G-com.ru</h3>
        </ul>     
    </div>
</div>