<div class="menu">
    <div class="upper">
        <div class="logo-wrapper">
            <a href="index.html">
                <img src="{{url_for("static", filename="res/logo.png")}}" alt="Джи-ком">
            </a>
        </div>
        <div class="slogan">
            Интернет-провайдер для тебя
        </div>

        <div class="header-info">
            <div class="icon-info">
                <div class="icon">
                    <img src="{{url_for("static", filename="res/address.svg")}}" alt="Адрес">
                </div>
                <div class="icon-text">
                    г. Балашиха, ул. Советская, д. 44А
                </div>
            </div>
            <div class="icon-info">
                <div class="icon">
                    <img src="{{url_for("static", filename="res/phone.svg")}}" alt="Телефон">
                </div>
                <div class="icon-text">
                    +7 (495) 108-12-43
                </div>
            </div>
        </div>

        <div class="menu-buttons">
            <div class="menu-button">
                <a href="request">Оставить заявку</a>
            </div>
            <div class="menu-button">
                <a href="login">Войти</a>
            </div>
        </div>
    </div>

    <nav>
        <div class="main-menu-wrapper">
            <ul class="main-menu">
                <li class="menu-item">
                    <div class="menu-item-text">
                        <a href="company">О нас</a>
                    </div>
                    <ul class="sub-menu">
                        <li><a href="company">О компании</a></li>
                        <li><a href="licenses">Лицензии</a></li>
                        <li><a href="documents">Документы</a></li>
                        <li><a href="requisites">Реквизиты</a></li>
                        <li><a href="contacts">Контакты</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <div class="menu-item-text">
                        <a href="to_condo">Тарифы</a>
                    </div>
                    <ul class="sub-menu">
                        <li><a href="to_condo">В квартиру</a></li>
                        <li><a href="to_house">В частный дом</a></li>
                        <li><a href="to_office">В офис</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <div class="menu-item-text">
                        <a href="faq">Информация</a>
                    </div>
                    <ul class="sub-menu">
                        <li><a href="faq">Вопрос-ответ</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>


