<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контакты</title>
    {% include "common/font.html"%}
    <link rel="stylesheet" href="{{url_for('static', filename='css/menu.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/footer.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/side.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/contacts.css')}}">
    <style>
        #contacts{
            background-color: rgba(0,11,153,1);
            color: white
        }
        #contacts: hover{
            color: white
        }
    </style>
</head>
<body>
    {% include "common/menu.html" %}

    <div class="main">
        <div class="side-panel">
            {% include "common/side_about.html"%}
        </div>

        <div class="content">
            <ul>
                <li>
                    <h3>Как добраться?</h3>
                    <p>г. Балашиха, улица Советская, дом 44А</p>
                </li>
                <li>
                    <h3>Email</h3>
                    <p>info@10G-com.ru</p>
                </li>
                <li>
                    <h3>Как связаться?</h3>
                    <p>+7 (495) 108-12-43 </p>
                </li>
                <li>
                    <h3>Режим работы</h3>
                    <p>24/7</p>
                </li>
            </ul>
            <div class="map">
                <h1>Мы на карте!</h1>
                <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A027bac08d621bfc6b183a532989668f65e53126e6e6c1a41101ae2120e25e8d5&amp;width=100%25&amp;height=602&amp;lang=ru_RU&amp;scroll=false"></script>
            </div>
        </div>
    </div>
    {% include "common/footer.html" %}
</body>
</html>