<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    {% include "common/font.html"%}
    <link rel="stylesheet" href="{{url_for('static', filename='css/menu.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/footer.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/faq.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/side.css')}}">
    <style>
        #faq{
            background-color: rgba(0,11,153,1);
            color: white
        }
        #faq: hover{
            color: white
        }
    </style>
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='res/logo.png')}}">

</head>
<body>
    {% include "common/menu.html" %}
    <div class="main">
        <div class="side-panel">
            {% include "common/side_information.html"%}
        </div>
        <div class="content">
            <div class="container">
                <div class="accordion">
                    Как оплатить ваши услуги?
                </div>
                <div class="panel">
                    <p>Наши услуги можно оплатить тремя способами:</p>
                    <ol>
                        <li>На сайте СбербанкОнлайн или в приложении СбербанкОнлайн со своей карты или счета. Для этого необходимо найти нас в разделе "Платежи" / "Интернет и ТВ" / "Интернет-провайдер Джи Ком", либо просто в разделе "Платежи" нажать на кнопку "Поиск" и ввести "Джи Ком".</li>
                        <li>В отделениях / банкоматах / терминалах Сбербанка с помощью пластиковой карты, либо наличных денежных средств.</li>
                        <li>В личном кабинете, нажав на кнопку "Платеж" и выбрав платежную систему "Сбербанк Онлайн". Оплата производится пластиковыми картами любых банков следующих платежных систем:</li>
                    </ol>
                    <img width="25%" height="25%" src="{{url_for('static', filename='res/payment_methods.jpg')}}" alt="МИР, Visa, Mastercard, JCB">
                </div>
            </div>
           
            <div class="container">
                <div class="accordion">  
                    Безопасно ли оплачивать Ваши услуги через Интернет?
                </div>
                <div class="panel">
                    <p>Для оплаты (ввода реквизитов Вашей карты) Вы будете перенаправлены на платёжный шлюз ПАО СБЕРБАНК. Соединение с платёжным шлюзом и передача информации осуществляется в защищённом режиме с использованием протокола шифрования SSL. В случае если Ваш банк поддерживает технологию безопасного проведения интернет-платежей Verified By Visa, MasterCard SecureCode, MIR Accept, J-Secure для проведения платежа также может потребоваться ввод специального пароля.</p>
                    <p>Настоящий сайт поддерживает 256-битное шифрование. Конфиденциальность сообщаемой персональной информации обеспечивается ПАО СБЕРБАНК. Введённая информация не будет предоставлена третьим лицам за исключением случаев, предусмотренных законодательством РФ. Проведение платежей по банковским картам осуществляется в строгом соответствии с требованиями платёжных систем МИР, Visa Int., MasterCard Europe Sprl, JCB. </p>
                </div>
            </div>
        
            <div class="container">
                <div class="accordion">  
                    Где вы берете такой дешевый Интернет?
                </div>
                <div class="panel">
                    <p>Мы давно работаем на межоператорском рынке и знаем как эффективно на нем работать. Это позволяет нам продавать Интернет нашим клиентам по низким ценам.</p>
                </div>
            </div>

            <div class="container">
                <div class="accordion">  
                    Почему у Вас такие высокие скорости?
                </div>
                <div class="panel">
                    <p>Мы прекрасно знаем межоператорский рынок на передачу интернет-трафика, а также реальную загрузку каналов одновременно по всем пользователям. Проще говоря - нам не жалко :)</p>
                </div>
            </div>

            <div class="container">
                <div class="accordion">  
                    Работаете ли вы с НДС?
                </div>
                <div class="panel">
                    <p>Нет. Мы применяем упрощенную систему налогообложения.</p>
                </div>
            </div>

            <div class="container">
                <div class="accordion">  
                    Ваши специалисты имеют какие-либо сертификаты?
                </div>
                <div class="panel">
                    <p>Да, каждый сотрудник нашей компании имеет высшее образование, и проходит курсы по подготовке и повышению квалификации, за успешное прохождение которых даются сертификаты. Все наши сотрудники прошли данные курсы успешно.</p>
                </div>
            </div>

            <div class="container">
                <div class="accordion">   
                    Я больше не нуждаюсь в ваших услугах. Как мне вернуть деньги?
                </div>
                <div class="panel">
                    <p>Для возврата денег в сумме, равной текущему балансу лицевого счета, нужно написать заявление, в котором указать причину отказа и реквизиты для зачисления денежных средств. Заявление необходимо направить нам по электронной почте. Деньги будут переведены на указанный счет в течении 10 рабочих дней.</p>
                </div>
            </div>
        </div>
        <script src="{{url_for('static', filename='script/faq.js')}}"></script>
    </div>
    {% include "common/footer.html" %}
</body>
</html>