<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О компании</title>
    {% include "common/font.html"%}
    <link rel="stylesheet" href="{{url_for('static', filename='css/menu.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/footer.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/form.css')}}">
    <style>
        #company{
            background-color: rgba(0,11,153,1);
            color: white
        }
        #company:hover{
            color: white
        }
    </style>
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='res/logo.png')}}">

</head>
<body>
    {% include "common/menu.html" %}

    
    <div class="main">
        <div class="content">
            <h1>Войти в личный кабинет</h1>
            <form action="/authorize" method="post">
                <div class="field">
                    <label for="login">Логин:</label>
                    <input type="text" id="login" name="login">
                </div> 
                <div class="field">
                    <label for="password">Пароль:</label>
                    <input type="password" id="password" name="password">
                </div>
                <div class="button">
                    <input type="submit" id="submit" name="submit" value="Войти">
                </div>
            </form>
        </div>
    </div>
    {% include "common/footer.html" %}
    <script src="{{url_for('static', filename='script/dropdown.js')}}"> </script>

</body>
</html>