<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Реквизиты</title>
    {% include "common/font.html"%}
    <link rel="stylesheet" href="{{url_for('static', filename='css/menu.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/footer.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/side.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/requisites.css')}}">
    <style>
        #requisites{
            background-color: rgba(0,11,153,1);
            color: white
        }
        #requisites: hover{
            color: white
        }
    </style>
</head>
<body>
    {% include "common/menu.html" %}

    <div class="main">
        <div class="side-panel">
            {% include "common/side_about.html"%}
        </div>

        <div class="content">
            <table>
                <thead>
                    <tr>
                        <th colspan="2">Реквизиты</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Полное наименование:</td>
                        <td>Общество с ограниченной ответственностью «Джи Ком»</td>
                    </tr>
                    <tr>
                        <td>Сокращенное наименование:</td>
                        <td>ООО "Джи Ком"</td>
                    </tr>
                    <tr>
                        <td>Почтовый адрес:</td>
                        <td>143900, Московская обл., г. Балашиха, Вишняковское шоссе, дом 113А</td>
                    </tr>
                    <tr>
                        <td>Юридический адрес:</td>
                        <td>143900, Московская обл., г. Балашиха, Вишняковское шоссе, дом 113А</td>
                    </tr>
                    <tr>
                        <td>Сайт:</td>
                        <td><a href="/">https://www.10G-com.ru</a></td>
                    </tr>
                    <tr>
                        <td>Телефон:</td>
                        <td>+7 (495) 108-12-43</td>
                    </tr>
                    <tr>
                        <td>E-mail:</td>
                        <td>info@10G-com.ru</td>
                    </tr>
                    <tr>
                        <td>ОГРН:</td>
                        <td>1085012005550</td>
                    </tr>
                    <tr>
                        <td>ИНН:</td>
                        <td>5012050816</td>
                    </tr>
                    <tr>
                        <td>КПП:</td>
                        <td>500101001</td>
                    </tr>
                    <tr>
                        <td>Банк:</td>
                        <td>МОСКОВСКИЙ ФИЛИАЛ АО КБ "МОДУЛЬБАНК"</td>
                    </tr>
                    <tr>
                        <td>БИК:</td>
                        <td>044525092</td>
                    </tr>
                    <tr>
                        <td>Расчетный счет:</td>
                        <td>40702810170010001362</td>
                    </tr>
                    <tr>
                        <td>Кор. счет:</td>
                        <td>30101810645250000092</td>
                    </tr>
                    <tr>
                        <td>Генеральный директор:</td>
                        <td>Вансевич Алексей Анатольевич </td>
                    </tr>
                </tbody>
            </table>
        </div>
       
        
    </div>
    {% include "common/footer.html" %}
</body>
</html>